<!DOCTYPE html>
<html>
  <% include ../views/scripts/head %>
  <body>

    <% include ../views/partials/navbar %>

    <% include ../views/partials/welcome %>

    <%- include ../views/partials/about %>

    <%- include ../views/partials/products %>

    <%- include ../views/partials/services %>

    <%- include ../views/partials/services-gallery %>

    <%- include ../views/partials/contact %>

    <%- include ../views/partials/footer %>

    <% include ../views/scripts/js %>
  </body>

</html>
