<!DOCTYPE html>
<html>
  <% include ../views/scripts/head %>
  <body>

    <% include ../views/partials/navbar %>

    <% include ../views/partials/welcome %>

    <%- include ../views/partials/about %>

    <%- include ../views/partials/policy %>

    <%- include ../views/partials/covid %>

    <%- include ../views/partials/packages %>

    <%- include ../views/partials/contact %>

    <%- include ../views/partials/footer %>

    <% include ../views/partials/copyright %>

    <% include ../views/scripts/js %>
  </body>

</html>
